<section class="comentario">
  <p>
    ¡Increíble experiencia comprando en GeekyKeki! Su amplia variedad de periféricos de computadora me dejó impresionada. El personal fue tan amable y me brindó asesoramiento experto para encontrar el producto perfecto. ¡Gracias GeekyKeki por hacer que mi experiencia de compra sea tan satisfactoria!
  </p>
  <p>
    - Dayris Alessandra
  </p>
</section>

<style lang="scss">
  .comentario {
    padding: 50px 8%;
    background-color: var(--black);
    color: var(--pink-soft);
  }
  .comentario p:nth-child(1) {
    font-size: x-large;
    margin-bottom: 16px;
    width: 80%;
  }
  .comentario p:nth-child(2) {
    color: var(--pink-soft);
    opacity: 70%;
  }
</style>