<section class="contactanos" id="contactanos">
  <h2>Contactanos</h2>
  <p>geekykeki@gmail.com</p>
  <div>
    <img src="/img/fb.svg" alt="facebook">
    <img src="/img/ig.svg" alt="instagram">
    <img src="/img/twt.svg" alt="twitter">
  </div>
</section>

<style lang="scss">
  .contactanos {
    background-color: var(--black);
    color: var(--white);
    padding: 50px 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  h2 {
    font-size: x-large;
    font-family: var(--font-secondary);
  }

  div {
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    
    img {
      height: 100%;
    }
  }
</style>