<footer>
  <h3>GeekyKeki</h3>
</footer>

<style lang="scss">
  footer {
    background-color: var(--pink-soft);
    color: var(--black);
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>